<a href="https://colab.research.google.com/github/TOM-BOHN/MsDS-customer-churn-prediction/blob/main/Data_Clensing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data

## Import Required Libraries

In [6]:
import os
import pandas as pd
import numpy as np

## Connect to Kaggle API and Import Dataset

In [12]:
#Prepare to Connect to Kaggle API with Token

#Create a Kaggle API Token
#- Log into your kaggle account, navigate to theAPI section
#- Create a New API Token, triggering the downloaf of the kaggle.json file
#- Go to this Google Colab Notebook step and proceed

#Mount the Google Drive
from google.colab import drive
drive.mount("/content/gdrive")

#from google.colab import files
#files.upload()
#prompt open to upload kaggle.json

source_filepath = '/content/gdrive/MyDrive/Colab_files/kaggle.json'
destination_filepath = '/content'
!cp {source_filepath} {destination_filepath}

#Verify the kaggle.json file is present
!ls -lha kaggle.json

print("A")

#Install kaggle API
!pip install -q kaggle

print("B")

#Move kaggle.json file to the appropriate directory and set permissions
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 /root/.kaggle/kaggle.json

print("C")

#check the directory before downloading the datasets
!pwd

#Sanity Check for Connection
!kaggle datasets list

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
-rw------- 1 root root 66 Aug  7 23:07 kaggle.json
A
B
C
/content
Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python3.10/dist-packages/kaggle/__init__.py", line 19, in <module>
    from kaggle.api.kaggle_api_extended import KaggleApi
  File "/usr/local/lib/python3.10/dist-packages/kaggle/api/__init__.py", line 22, in <module>
    from kaggle.api.kaggle_api_extended import KaggleApi
  File "/usr/local/lib/python3.10/dist-packages/kaggle/api/kaggle_api_extended.py", line 274, in <module>
    class KaggleApi(KaggleApi):
  File "/usr/local/lib/python3.10/dist-packages/kaggle/api/kaggle_api_extended.py", line 296, in KaggleApi
    os.makedirs(config_dir)
  File "/usr/lib/python3.10/os.py", line 215, in makedirs
    makedirs(head, exist_ok=exist_ok)
  File "/usr/lib/python3.10/os.py", line 225, in makedirs
    mkdir(name, mode)
OSError: [Errno 95] Operation not supported: '/content/gdrive/mydrive'

In [7]:
#Import the Kaggle Data Source

#Define the source of the dataset
kaggle_owner_name = 'ylchang'
kaggle_dataset_name = 'telco-customer-churn-1113'
kaggle_dataset = kaggle_owner_name + '/' + kaggle_dataset_name
print(kaggle_dataset)

#Define the destination of the dataset
dest_path = '/content'
dest_folder = ''
dest_dataset = dest_path + dest_folder
print(dest_dataset)

#Download the kaggle dataset
!kaggle datasets download -d {kaggle_dataset} -p {dest_dataset}

#Unzip the files
zip_file_name = kaggle_dataset_name + '.zip'
!mkdir {kaggle_dataset_name}
print(zip_file_name)
!unzip {zip_file_name} -d {kaggle_dataset_name}

ylchang/telco-customer-churn-1113
/content
Downloading telco-customer-churn-1113.zip to /content
  0% 0.00/3.45M [00:00<?, ?B/s]
100% 3.45M/3.45M [00:00<00:00, 209MB/s]
mkdir: cannot create directory ‘telco-customer-churn-1113’: File exists
telco-customer-churn-1113.zip
Archive:  telco-customer-churn-1113.zip
  inflating: telco-customer-churn-1113/Telco_customer_churn.xlsx
  inflating: telco-customer-churn-1113/Telco_customer_churn_demographics.xlsx
  inflating: telco-customer-churn-1113/Telco_customer_churn_location.xlsx
  inflating: telco-customer-churn-1113/Telco_customer_churn_population.xlsx
  inflating: telco-customer-churn-1113/Telco_customer_churn_services.xlsx
  inflating: telco-customer-churn-1113/Telco_customer_churn_status.xlsx

Reference for Connecting to Kaggle

*   Steps to download Kaggle datasets in Google Colab: https://www.kaggle.com/discussions/general/156610
*   Easy way to use Kaggle datasets in Google Colab: https://www.kaggle.com/discussions/general/51898
*   Easiest way to download kaggle data in Google Colab: https://www.kaggle.com/discussions/general/74235

In [9]:
import os

#Get the list of files imported
directory_path = dest_dataset + '/' + kaggle_dataset_name
directory_files = os.listdir(directory_path)
print(directory_files)

['Telco_customer_churn.xlsx', 'Telco_customer_churn_services.xlsx', 'Telco_customer_churn_status.xlsx', 'Telco_customer_churn_location.xlsx', 'Telco_customer_churn_population.xlsx', 'Telco_customer_churn_demographics.xlsx']

In [21]:
# Create a dictonary to store the datafames imported
df_dict = {}

for file in directory_files:
  dataset_file = dest_dataset + '/' + kaggle_dataset_name + '/' + file
  df_dict[file] = pd.read_excel(dataset_file)
  print("key: ", file)
  #print(df_dict[file], "\n")

key:  Telco_customer_churn.xlsx
key:  Telco_customer_churn_services.xlsx
key:  Telco_customer_churn_status.xlsx
key:  Telco_customer_churn_location.xlsx
key:  Telco_customer_churn_population.xlsx
key:  Telco_customer_churn_demographics.xlsx

In [23]:
for df_name, df in df_dict.items():
  print('----------------------------')
  print(df_name)
  print('----------------------------')
  num_rows = df.shape[0]
  num_cols = df.shape[1]
  print('number of features (columns) = ' + str(num_cols))
  print('number of observations (rows) = ' + str(num_rows))
  print(df.dtypes.value_counts())
  print(df.columns)
  #print(df.count)
  #print(df.max)
  #print(df.min)
  #print(df.shape)
  #print(df.describe)

----------------------------
Telco_customer_churn.xlsx
----------------------------
number of features (columns) = 33
number of observations (rows) = 7043
object     24
int64       6
float64     3
dtype: int64
Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Score', 'CLTV', 'Churn Reason'],
      dtype='object')
----------------------------
Telco_customer_churn_services.xlsx
----------------------------
number of features (columns) = 30
number of observations (rows) = 7043
object     19
float64     6
int64       5
dtype: int64
Index(['Customer ID', 'Count', 'Quarter', 'Referred a Friend',
       'Number of Referrals', 'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue'],
      dtype='object')
----------------------------
Telco_customer_churn_status.xlsx
----------------------------
number of features (columns) = 11
number of observations (rows) = 7043
object    6
int64     5
dtype: int64
Index(['Customer ID', 'Count', 'Quarter', 'Satisfaction Score',
       'Customer Status', 'Churn Label', 'Churn Value', 'Churn Score', 'CLTV',
       'Churn Category', 'Churn Reason'],
      dtype='object')
----------------------------
Telco_customer_churn_location.xlsx
----------------------------
number of features (columns) = 9
number of observations (rows) = 7043
object     5
int64      2
float64    2
dtype: int64
Index(['Customer ID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude'],
      dtype='object')
----------------------------
Telco_customer_churn_population.xlsx
----------------------------
number of features (columns) = 3
number of observations (rows) = 1671
int64    3
dtype: int64
Index(['ID', 'Zip Code', 'Population'], dtype='object')
----------------------------
Telco_customer_churn_demographics.xlsx
----------------------------
number of features (columns) = 9
number of observations (rows) = 7043
object    6
int64     3
dtype: int64
Index(['Customer ID', 'Count', 'Gender', 'Age', 'Under 30', 'Senior Citizen',
       'Married', 'Dependents', 'Number of Dependents'],
      dtype='object')

# Data Clensing

In [28]:
df_dict['Telco_customer_churn.xlsx']

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,United States,California,Landers,92285,"34.341737, -116.539416",34.341737,-116.539416,Female,...,Two year,Yes,Bank transfer (automatic),21.15,1419.4,No,0,45,5306,NaN
7039,6840-RESVB,1,United States,California,Adelanto,92301,"34.667815, -117.536183",34.667815,-117.536183,Male,...,One year,Yes,Mailed check,84.80,1990.5,No,0,59,2140,NaN
7040,2234-XADUH,1,United States,California,Amboy,92304,"34.559882, -115.637164",34.559882,-115.637164,Female,...,One year,Yes,Credit card (automatic),103.20,7362.9,No,0,71,5560,NaN
7041,4801-JZAZL,1,United States,California,Angelus Oaks,92305,"34.1678, -116.86433",34.167800,-116.864330,Female,...,Month-to-month,Yes,Electronic check,29.60,346.45,No,0,59,2793,NaN
7042,3186-AJIEK,1,United States,California,Apple Valley,92308,"34.424926, -117.184503",34.424926,-117.184503,Male,...,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No,0,38,5097,NaN

In [3]:
df_dict['Telco_customer_churn.xlsx'].describe()

NameError: ignored

In [2]:
df = df_dict['Telco_customer_churn.xlsx']
a = [np.nan, None, [], {}, 'NaN', 'Null','NULL','None','NA','?','-', '.','', ' ', '   ']
for c in df.columns:
    string_null = np.array([x in a[2:] for x in df[c]])
    print(c, df[c].isnull().sum(), string_null.sum())

NameError: ignored

In [47]:
#!pip install ydata-profiling

#from ydata_profiling import ProfileReport

#profile = ProfileReport(df_dict['Telco_customer_churn.xlsx'], title="Profiling Telco_customer_churn")

In [1]:
#profile.to_widgets()

In [29]:
df_dict['Telco_customer_churn_services.xlsx']

,Customer ID,Count,Quarter,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,...,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue
0,8779-QRDMV,1,Q3,No,0,1,None,No,0.00,No,...,No,Month-to-Month,Yes,Bank Withdrawal,39.65,39.65,0.00,20,0.00,59.65
1,7495-OOKFY,1,Q3,Yes,1,8,Offer E,Yes,48.85,Yes,...,Yes,Month-to-Month,Yes,Credit Card,80.65,633.30,0.00,0,390.80,1024.10
2,1658-BYGOY,1,Q3,No,0,18,Offer D,Yes,11.33,Yes,...,Yes,Month-to-Month,Yes,Bank Withdrawal,95.45,1752.55,45.61,0,203.94,1910.88
3,4598-XLKNJ,1,Q3,Yes,1,25,Offer C,Yes,19.76,No,...,Yes,Month-to-Month,Yes,Bank Withdrawal,98.50,2514.50,13.43,0,494.00,2995.07
4,4846-WHAFZ,1,Q3,Yes,1,37,Offer C,Yes,6.33,Yes,...,Yes,Month-to-Month,Yes,Bank Withdrawal,76.50,2868.15,0.00,0,234.21,3102.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,Q3,No,0,72,None,Yes,22.77,No,...,No,Two Year,Yes,Bank Withdrawal,21.15,1419.40,19.31,0,1639.44,3039.53
7039,6840-RESVB,1,Q3,Yes,1,24,Offer C,Yes,36.05,Yes,...,Yes,One Year,Yes,Mailed Check,84.80,1990.50,48.23,0,865.20,2807.47
7040,2234-XADUH,1,Q3,Yes,4,72,None,Yes,29.66,Yes,...,Yes,One Year,Yes,Credit Card,103.20,7362.90,45.38,0,2135.52,9453.04
7041,4801-JZAZL,1,Q3,Yes,1,11,None,No,0.00,No,...,Yes,Month-to-Month,Yes,Bank Withdrawal,29.60,346.45,27.24,0,0.00,319.21
7042,3186-AJIEK,1,Q3,No,0,66,None,Yes,30.96,No,...,Yes,Two Year,Yes,Bank Withdrawal,105.65,6844.50,0.00,0,2043.36,8887.86

In [30]:
df_dict['Telco_customer_churn_status.xlsx']

,Customer ID,Count,Quarter,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,1,Q3,3,Churned,Yes,1,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,1,Q3,3,Churned,Yes,1,69,5302,Competitor,Competitor made better offer
2,1658-BYGOY,1,Q3,2,Churned,Yes,1,81,3179,Competitor,Competitor made better offer
3,4598-XLKNJ,1,Q3,2,Churned,Yes,1,88,5337,Dissatisfaction,Limited range of services
4,4846-WHAFZ,1,Q3,2,Churned,Yes,1,67,2793,Price,Extra data charges
...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,Q3,5,Stayed,No,0,45,5306,NaN,NaN
7039,6840-RESVB,1,Q3,3,Stayed,No,0,59,2140,NaN,NaN
7040,2234-XADUH,1,Q3,4,Stayed,No,0,71,5560,NaN,NaN
7041,4801-JZAZL,1,Q3,4,Stayed,No,0,59,2793,NaN,NaN
7042,3186-AJIEK,1,Q3,4,Stayed,No,0,38,5097,NaN,NaN

In [31]:
df_dict['Telco_customer_churn_location.xlsx']

,Customer ID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude
0,8779-QRDMV,1,United States,California,Los Angeles,90022,"34.02381, -118.156582",34.023810,-118.156582
1,7495-OOKFY,1,United States,California,Los Angeles,90063,"34.044271, -118.185237",34.044271,-118.185237
2,1658-BYGOY,1,United States,California,Los Angeles,90065,"34.108833, -118.229715",34.108833,-118.229715
3,4598-XLKNJ,1,United States,California,Inglewood,90303,"33.936291, -118.332639",33.936291,-118.332639
4,4846-WHAFZ,1,United States,California,Whittier,90602,"33.972119, -118.020188",33.972119,-118.020188
...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,United States,California,Landers,92285,"34.341737, -116.539416",34.341737,-116.539416
7039,6840-RESVB,1,United States,California,Adelanto,92301,"34.667815, -117.536183",34.667815,-117.536183
7040,2234-XADUH,1,United States,California,Amboy,92304,"34.559882, -115.637164",34.559882,-115.637164
7041,4801-JZAZL,1,United States,California,Angelus Oaks,92305,"34.1678, -116.86433",34.167800,-116.864330
7042,3186-AJIEK,1,United States,California,Apple Valley,92308,"34.424926, -117.184503",34.424926,-117.184503

In [32]:
df_dict['Telco_customer_churn_population.xlsx']

        ID  Zip Code  Population
0        1     90001       54492
1        2     90002       44586
2        3     90003       58198
3        4     90004       67852
4        5     90005       43019
...    ...       ...         ...
1666  1667     96145        4002
1667  1668     96146         942
1668  1669     96148         678
1669  1670     96150       33038
1670  1671     96161       15783

[1671 rows x 3 columns]

In [33]:
df_dict['Telco_customer_churn_demographics.xlsx']

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
0,8779-QRDMV,1,Male,78,No,Yes,No,No,0
1,7495-OOKFY,1,Female,74,No,Yes,Yes,Yes,1
2,1658-BYGOY,1,Male,71,No,Yes,No,Yes,3
3,4598-XLKNJ,1,Female,78,No,Yes,Yes,Yes,1
4,4846-WHAFZ,1,Female,80,No,Yes,Yes,Yes,1
...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,Female,30,No,No,No,No,0
7039,6840-RESVB,1,Male,38,No,No,Yes,Yes,2
7040,2234-XADUH,1,Female,30,No,No,Yes,Yes,2
7041,4801-JZAZL,1,Female,32,No,No,Yes,Yes,2
7042,3186-AJIEK,1,Male,44,No,No,No,No,0