<a href="https://colab.research.google.com/github/TOM-BOHN/MsDS-customer-churn-prediction/blob/main/Data_Clensing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data

## Dataset Source

Attribute                 |Details
:-------------------------|:-----------------------------
**Dataset:**              | Telco Customer Churn (11.1.3+)
**Source Type:**         | Public Dataset
**Source Link:**          | https://www.kaggle.com/datasets/ylchang/telco-customer-churn-1113
**Source Documentation:** | https://community.ibm.com/community/user/businessanalytics/blogs/steven-macko/2019/07/11/telco-customer-churn-1113

###About Dataset Provider

The datasource used in this analysis was created by the Sample Team at IBM as part of the the IBM Accelerator Catalog, a free platform created to showcase assets and demonstrate the capabilities of the IBM products. This dataset comses from a subset of this platform focused on IBM Cognos Analytics Sample Data. The datset was package on the Kaggle website and is availible for download through the UI or the Kaggle API.

###About Dataset

Specifically, the **Telco Customer Churn (11.1.3+)** data contains information about a fictional telco company that provided home phone and Internet services to 7043 customers in California in Q3. It indicates which customers have left, stayed, or signed up for their service. Multiple important demographics are included for each customer, as well as a Satisfaction Score, Churn Score, and Customer Lifetime Value (CLTV) index. [2]

## Dataset Details

### Dataset Tables
The dataset is comprised of 5 tables, focused on specific details related to the customer.  The tables are:
- **Demographics** : The **person** conceptual entity including demographic details related to each customers included in the dataset.
- **Location** : The **location** conceptual entity, including location information related to where the customer is located in the world. A less grnular form of address information.
- **Population** : Additional statisticss related to the location entity, including the population of each zipcode included in the dataset.
- **Services** : The **transaction** entity in a summerized format, outlining the services / prducts consumed, actions taken by the customer, and transaction / billing details related to the customers purchase.
- **Status** : Additional derived statistics related to the person entity, including survey details, derived scores, and churn information related to each customer.

### Dataset Relationships

The **Services** table is the main fact in the data model.

The following relationships can be used to join the data:
- **Services** joined to **Demographics** joined on CustomerID = CustomerID
- **Services** joined to **Status** joined on CustomerID = CustomerID
- **Demographics** joined to **Location** joined on CustomerID = CustomerID
- **Location** joined to **Population** joined on ZipCode = ZipCode

## Dataset Dictionary

Datails on each field in the original dataset can be found in the following data dictionary.

###Demographics
- **CustomerID**: A unique ID that identifies each customer.
- **Count**: A value used in reporting/dashboarding to sum up the number of customers in a filtered set.
- **Gender**: The customer's gender: Male, Female
- **Age**: The customer's current age, in years, at the time the fiscal quarter ended.
- **Senior Citizen**: Indicates if the customer is 65 or older: Yes, No
- **Married**: Indicates if the customer is married: Yes, No
- **Dependents**: Indicates if the customer lives with any dependents: Yes, No. Dependents could be children, parents, grandparents, etc.
- **Number of Dependents**: Indicates the number of dependents that live with the customer.

### Location
- **CustomerID**: A unique ID that identifies each customer.
- **Count**: A value used in reporting/dashboarding to sum up the number of customers in a filtered set.
- **Country**: The country of the customer's primary residence.
- **State**: The state of the customer's primary residence.
- **City**: The city of the customer's primary residence.
- **Zip Code**: The zip code of the customer's primary residence.
- **Lat Long**: The combined latitude and longitude of the customer's primary residence.
- **Latitude**: The latitude of the customer's primary residence.
- **Longitude**: The longitude of the customer's primary residence.

###Population
- **ID**: A unique ID that identifies each row.
- **Zip Code**: The zip code of the customer's primary residence.
- **Population**: A current population estimate for the entire Zip Code area.

###Services
- **CustomerID**: A unique ID that identifies each customer.
- **Count**: A value used in reporting/dashboarding to sum up the number of customers in a filtered set.
- **Quarter**: The fiscal quarter that the data has been derived from (e.g. Q3).
- **Referred a Friend**: Indicates if the customer has ever referred a friend or family member to this company: Yes, No
- **Number of Referrals**: Indicates the number of referrals to date that the customer has made.
- **Tenure in Months**: Indicates the total amount of months that the customer has been with the company by the end of the quarter specified above.
- **Offer**: Identifies the last marketing offer that the customer accepted, if applicable. Values include None, Offer A, Offer B, Offer C, Offer D, and Offer E.
- **Phone Service**: Indicates if the customer subscribes to home phone service with the company: Yes, No
- **Avg Monthly Long Distance Charges**: Indicates the customer’s average long distance charges, calculated to the end of the quarter specified above.
- **Multiple Lines**: Indicates if the customer subscribes to multiple telephone lines with the company: Yes, No
- **Internet Service**: Indicates if the customer subscribes to Internet service with the company: No, DSL, Fiber Optic, Cable.
- **Avg Monthly GB Download**: Indicates the customer's average download volume in gigabytes, calculated to the end of the quarter specified above.
- **Online Security**: Indicates if the customer subscribes to an additional online security service provided by the company: Yes, No
- **Online Backup**: Indicates if the customer subscribes to an additional online backup service provided by the company: Yes, No
- **Device Protection Plan**: Indicates if the customer subscribes to an additional device protection plan for their Internet equipment provided by the company: Yes, No
- **Premium Tech Support**: Indicates if the customer subscribes to an additional technical support plan from the company with reduced wait times: Yes, No
- **Streaming TV**: Indicates if the customer uses their Internet service to stream television programing from a third party provider: Yes, No. The company does not charge an additional fee for this service.
- **Streaming Movies**: Indicates if the customer uses their Internet service to stream movies from a third party provider: Yes, No. The company does not charge an additional fee for this service.
- **Streaming Music**: Indicates if the customer uses their Internet service to stream music from a third party provider: Yes, No. The company does not charge an additional fee for this service.
- **Unlimited Data**: Indicates if the customer has paid an additional monthly fee to have unlimited data downloads/uploads: Yes, No
- **Contract**: Indicates the customer's current contract type: Month-to-Month, One Year, Two Year.
- **Paperless Billing**: Indicates if the customer has chosen paperless billing: Yes, No
- **Payment Method**: Indicates how the customer pays their bill: Bank Withdrawal, Credit Card, Mailed Check
- **Monthly Charge**: Indicates the customer's current total monthly charge for all their services from the company.
- **Total Charges**: Indicates the customer's total charges, calculated to the end of the quarter specified above.
- **Total Refunds**: Indicates the customer's total refunds, calculated to the end of the quarter specified above.
- **Total Extra Data Charges**: Indicates the customer's total charges for extra data downloads above those specified in their plan, by the end of the quarter specified above.
- **Total Long Distance Charges**: Indicates the customer's total charges for long distance above those specified in their plan, by the end of the quarter specified above.

### Status
- **CustomerID**: A unique ID that identifies each customer.
- **Count**: A value used in reporting/dashboarding to sum up the number of customers in a filtered set.
- **Quarter**: The fiscal quarter that the data has been derived from (e.g. Q3).
- **Satisfaction Score**: A customer's overall satisfaction rating of the company from 1 (Very Unsatisfied) to 5 (Very Satisfied).
- **Satisfaction Score Label**: Indicates the text version of the score (1-5) as a text string.
- **Customer Status**: Indicates the status of the customer at the end of the quarter: Churned, Stayed, or Joined
- **Churn Label**: Yes = the customer left the company this quarter. No = the customer remained with the company. Directly related to Churn Value.
- **Churn Value**: 1 = the customer left the company this quarter. 0 = the customer remained with the company. Directly related to Churn Label.
- **Churn Score**: A value from 0-100 that is calculated using the predictive tool IBM SPSS Modeler. The model incorporates multiple factors known to cause churn. The higher the score, the more likely the customer will churn.
- **Churn Score Category**: A calculation that assigns a Churn Score to one of the following categories: 0-10, 11-20, 21-30, 31-40, 41-50, 51-60, 61-70, 71-80, 81-90, and 91-100
- **CLTV**: Customer Lifetime Value. A predicted CLTV is calculated using corporate formulas and existing data. The higher the value, the more valuable the customer. High value customers should be monitored for churn.
- **CLTV Category**: A calculation that assigns a CLTV value to one of the following categories: 2000-2500, 2501-3000, 3001-3500, 3501-4000, 4001-4500, 4501-5000, 5001-5500, 5501-6000, 6001-6500, and 6501-7000.
- **Churn Category**: A high-level category for the customer's reason for churning: Attitude, Competitor, Dissatisfaction, Other, Price. When they leave the company, all customers are asked about their reasons for leaving. Directly related to Churn Reason.
- **Churn Reason**: A customer's specific reason for leaving the company. Directly related to Churn Category.

## Import Required Libraries

In [1]:
import os
import pandas as pd
import numpy as np

## Connect to Kaggle API and Import Dataset

In [2]:
#Prepare to Connect to Kaggle API with Token

#Create a Kaggle API Token
#- Log into your kaggle account, navigate to theAPI section
#- Create a New API Token, triggering the downloaf of the kaggle.json file
#- Go to this Google Colab Notebook step and proceed

#Mount the Google Drive
from google.colab import drive
drive.mount("/content/gdrive")

#from google.colab import files
#files.upload()
#prompt open to upload kaggle.json

source_filepath = '/content/gdrive/MyDrive/Colab_files/kaggle.json'
destination_filepath = '/content'
!cp {source_filepath} {destination_filepath}

#Verify the kaggle.json file is present
!ls -lha kaggle.json

#Install kaggle API
!pip install -q kaggle

#Move kaggle.json file to the appropriate directory and set permissions
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 /root/.kaggle/kaggle.json

#check the directory before downloading the datasets
!pwd

#Sanity Check for Connection
!kaggle datasets list

Mounted at /content/gdrive
-rw------- 1 root root 66 Aug  8 16:33 kaggle.json
/content
ref                                                       title                                             size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------  -----------------------------------------------  -----  -------------------  -------------  ---------  ---------------
nelgiriyewithana/countries-of-the-world-2023              Global Country Information Dataset 2023           23KB  2023-07-08 20:37:33           9078        348  1.0
juhibhojani/house-price                                   House Price                                        7MB  2023-08-02 16:51:21           1008         38  0.9411765
arnavsmayan/netflix-userbase-dataset                      Netflix Userbase Dataset                          25KB  2023-07-04 07:38:41          10613        188  1.0
alphiree/cardiovascular-diseases-risk-prediction-dataset  Cardiovascular Diseases Risk Prediction Dataset    5MB  2023-07-03 12:12:19           8154        282  1.0
nelgiriyewithana/global-youtube-statistics-2023           Global YouTube Statistics 2023                    60KB  2023-07-28 15:36:38           1717         74  1.0
abhijitdahatonde/zomato-restaurants-dataset               Zomato Restaurants Dataset                       181KB  2023-07-20 13:11:17            924         32  1.0
abhijitdahatonde/fifa-world-cup-all-dataset               FIFA World Cup All Dataset                       192KB  2023-07-31 02:22:58            498         28  1.0
joebeachcapital/ransomware-attacks                        Ransomware Attacks                                34KB  2023-08-03 00:41:08            316         25  1.0
pavankrishnanarne/global-stock-market-2008-present        Global Stock Market (2008-2023)                    1MB  2023-07-30 06:17:44            689         27  0.9411765
alirezajavid1999/google-stock-2010-2023                   Google Stock (2010-2023)                          76KB  2023-07-29 23:57:16            698         29  1.0
sudheerp2147234/salary-dataset-based-on-country-and-race  Salary dataset based on country and race          49KB  2023-07-06 09:10:21           2482         53  1.0
abhijitdahatonde/real-world-smartphones-dataset           Real World Smartphone's Dataset                   17KB  2023-08-02 07:03:01            550         25  1.0
joebeachcapital/worlds-biggest-data-breaches-and-hacks    World's Biggest Data Breaches & Hacks             49KB  2023-08-01 04:31:23            421         34  1.0
joebeachcapital/top-10000-spotify-songs-1960-now          Top 10000 Songs on Spotify 1960-Now                2MB  2023-07-26 00:54:14           1332         54  1.0
mexwell/world-airports                                    ✈️ World Airports                                  5MB  2023-07-25 08:37:38            936         27  1.0
harishkumardatalab/housing-price-prediction               Housing Price Prediction                           5KB  2023-07-07 04:34:24           3373         69  1.0
nathaniellybrand/chicago-car-crash-dataset                Chicago Car Crash Dataset                        116MB  2023-07-31 19:58:33            421         26  1.0
kapturovalexander/bank-credit-scoring                     Bank credit scoring                               65KB  2023-08-08 06:57:40            823         34  1.0
bhanupratapbiswas/olympic-data                            Olympic Data 🥇 ⛳🥅🏋️‍♀️🚴‍♂️                         1MB  2023-07-20 09:30:19           1885         57  1.0
khushipitroda/top-250-indian-movies-imdb                  Top 250 Indian movies IMDB                        24KB  2023-08-02 04:37:17            379         30  1.0

In [3]:
#Import the Kaggle Data Source

#Define the source of the dataset
kaggle_owner_name = 'ylchang'
kaggle_dataset_name = 'telco-customer-churn-1113'
kaggle_dataset = kaggle_owner_name + '/' + kaggle_dataset_name
print(kaggle_dataset)

#Define the destination of the dataset
dest_path = '/content'
dest_folder = ''
dest_dataset = dest_path + dest_folder
print(dest_dataset)

#Download the kaggle dataset
!kaggle datasets download -d {kaggle_dataset} -p {dest_dataset}

#Unzip the files
zip_file_name = kaggle_dataset_name + '.zip'
!mkdir {kaggle_dataset_name}
print(zip_file_name)
!unzip -o {zip_file_name} -d {kaggle_dataset_name}

ylchang/telco-customer-churn-1113
/content
Downloading telco-customer-churn-1113.zip to /content
  0% 0.00/3.45M [00:00<?, ?B/s]
100% 3.45M/3.45M [00:00<00:00, 146MB/s]
telco-customer-churn-1113.zip
Archive:  telco-customer-churn-1113.zip
  inflating: telco-customer-churn-1113/Telco_customer_churn.xlsx
  inflating: telco-customer-churn-1113/Telco_customer_churn_demographics.xlsx
  inflating: telco-customer-churn-1113/Telco_customer_churn_location.xlsx
  inflating: telco-customer-churn-1113/Telco_customer_churn_population.xlsx
  inflating: telco-customer-churn-1113/Telco_customer_churn_services.xlsx
  inflating: telco-customer-churn-1113/Telco_customer_churn_status.xlsx

Reference for Connecting to Kaggle

*   Steps to download Kaggle datasets in Google Colab: https://www.kaggle.com/discussions/general/156610
*   Easy way to use Kaggle datasets in Google Colab: https://www.kaggle.com/discussions/general/51898
*   Easiest way to download kaggle data in Google Colab: https://www.kaggle.com/discussions/general/74235

## Pre-Processing

### Covert Files to Dataframes

In [60]:
import os

#Get the list of files imported
directory_path = dest_dataset + '/' + kaggle_dataset_name
directory_files = os.listdir(directory_path)
print(directory_files)

['Telco_customer_churn.xlsx', 'Telco_customer_churn_services.xlsx', 'Telco_customer_churn_status.xlsx', 'Telco_customer_churn_location.xlsx', 'Telco_customer_churn_population.xlsx', 'Telco_customer_churn_demographics.xlsx']

In [61]:
# Create a dictonary to store the datafames imported
df_dict = {}

for file in directory_files:
  dataset_file = dest_dataset + '/' + kaggle_dataset_name + '/' + file
  df_dict[file] = pd.read_excel(dataset_file)
  print("key: ", file)
  #print(df_dict[file], "\n")

key:  Telco_customer_churn.xlsx
key:  Telco_customer_churn_services.xlsx
key:  Telco_customer_churn_status.xlsx
key:  Telco_customer_churn_location.xlsx
key:  Telco_customer_churn_population.xlsx
key:  Telco_customer_churn_demographics.xlsx

### Initial Descriptive Details of Tables

In [39]:
def quick_table_details (df_name, df, level_of_detail = 10):

  print('############################')
  print(df_name)
  print('############################')
  if level_of_detail >= 1:
    print('----------------------------')
    num_rows = df.shape[0]
    num_cols = df.shape[1]
    print('number of features (columns) = ' + str(num_cols))
    print('number of observations (rows) = ' + str(num_rows))
    print('----------------------------')
  if level_of_detail >= 2:
    print(df.dtypes.value_counts())
    print('----------------------------')
  if level_of_detail >= 3:
    print(df.columns)
    print('----------------------------')
  #if level_of_detail >= 4:
    #print(df.count)
    #print(df.max)
    #print(df.min)
    #print(df.shape)
    #print(df.describe)

for df_name, df in df_dict.items():
  quick_table_details(df_name, df)

############################
Telco_customer_churn.xlsx
############################
----------------------------
number of features (columns) = 33
number of observations (rows) = 7043
----------------------------
object     24
int64       6
float64     3
dtype: int64
----------------------------
Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Score', 'CLTV', 'Churn Reason'],
      dtype='object')
----------------------------
############################
Telco_customer_churn_services.xlsx
############################
----------------------------
number of features (columns) = 30
number of observations (rows) = 7043
----------------------------
object     19
float64     6
int64       5
dtype: int64
----------------------------
Index(['Customer ID', 'Count', 'Quarter', 'Referred a Friend',
       'Number of Referrals', 'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue'],
      dtype='object')
----------------------------
############################
Telco_customer_churn_status.xlsx
############################
----------------------------
number of features (columns) = 11
number of observations (rows) = 7043
----------------------------
object    6
int64     5
dtype: int64
----------------------------
Index(['Customer ID', 'Count', 'Quarter', 'Satisfaction Score',
       'Customer Status', 'Churn Label', 'Churn Value', 'Churn Score', 'CLTV',
       'Churn Category', 'Churn Reason'],
      dtype='object')
----------------------------
############################
Telco_customer_churn_location.xlsx
############################
----------------------------
number of features (columns) = 9
number of observations (rows) = 7043
----------------------------
object     5
int64      2
float64    2
dtype: int64
----------------------------
Index(['Customer ID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude'],
      dtype='object')
----------------------------
############################
Telco_customer_churn_population.xlsx
############################
----------------------------
number of features (columns) = 3
number of observations (rows) = 1671
----------------------------
int64    3
dtype: int64
----------------------------
Index(['ID', 'Zip Code', 'Population'], dtype='object')
----------------------------
############################
Telco_customer_churn_demographics.xlsx
############################
----------------------------
number of features (columns) = 9
number of observations (rows) = 7043
----------------------------
object    6
int64     3
dtype: int64
----------------------------
Index(['Customer ID', 'Count', 'Gender', 'Age', 'Under 30', 'Senior Citizen',
       'Married', 'Dependents', 'Number of Dependents'],
      dtype='object')
----------------------------

###Drop Unneccisary Fields

In [62]:
df_name = 'Telco_customer_churn_population.xlsx'
quick_table_details(df_name, df_dict[df_name])
#Drop fields not useful to the predictive model
df_dict[df_name] = df_dict[df_name].drop(['ID'], axis=1)
# Display a summary of table statistics
quick_table_details(df_name, df_dict[df_name],2)
df_dict[df_name].describe(include='all')

############################
Telco_customer_churn_population.xlsx
############################
----------------------------
number of features (columns) = 3
number of observations (rows) = 1671
----------------------------
int64    3
dtype: int64
----------------------------
Index(['ID', 'Zip Code', 'Population'], dtype='object')
----------------------------
############################
Telco_customer_churn_population.xlsx
############################
----------------------------
number of features (columns) = 2
number of observations (rows) = 1671
----------------------------
int64    2
dtype: int64
----------------------------

           Zip Code     Population
count   1671.000000    1671.000000
mean   93678.992220   20276.384201
std     1817.763591   20689.117300
min    90001.000000      11.000000
25%    92269.000000    1789.000000
50%    93664.000000   14239.000000
75%    95408.000000   32942.500000
max    96161.000000  105285.000000

In [63]:
df_name = 'Telco_customer_churn_location.xlsx'
quick_table_details(df_name, df_dict[df_name])
#Drop fields not useful to the predictive model
df_dict[df_name] = df_dict[df_name].drop(['Count', 'Lat Long', 'Latitude', 'Longitude'], axis=1)
# Display a summary of table statistics
quick_table_details(df_name, df_dict[df_name],2)
df_dict[df_name].describe(include='all')

############################
Telco_customer_churn_location.xlsx
############################
----------------------------
number of features (columns) = 9
number of observations (rows) = 7043
----------------------------
object     5
int64      2
float64    2
dtype: int64
----------------------------
Index(['Customer ID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude'],
      dtype='object')
----------------------------
############################
Telco_customer_churn_location.xlsx
############################
----------------------------
number of features (columns) = 5
number of observations (rows) = 7043
----------------------------
object    4
int64     1
dtype: int64
----------------------------

       Customer ID        Country       State         City      Zip Code
count         7043           7043        7043         7043   7043.000000
unique        7043              1           1         1106           NaN
top     8779-QRDMV  United States  California  Los Angeles           NaN
freq             1           7043        7043          293           NaN
mean           NaN            NaN         NaN          NaN  93486.070567
std            NaN            NaN         NaN          NaN   1856.767505
min            NaN            NaN         NaN          NaN  90001.000000
25%            NaN            NaN         NaN          NaN  92101.000000
50%            NaN            NaN         NaN          NaN  93518.000000
75%            NaN            NaN         NaN          NaN  95329.000000
max            NaN            NaN         NaN          NaN  96150.000000

In [64]:
df_name = 'Telco_customer_churn_demographics.xlsx'
quick_table_details(df_name, df_dict[df_name])
#Drop fields not useful to the predictive model
df_dict[df_name] = df_dict[df_name].drop(['Count'], axis=1)
# Display a summary of table statistics
quick_table_details(df_name, df_dict[df_name],2)
df_dict[df_name].describe(include='all')

############################
Telco_customer_churn_demographics.xlsx
############################
----------------------------
number of features (columns) = 9
number of observations (rows) = 7043
----------------------------
object    6
int64     3
dtype: int64
----------------------------
Index(['Customer ID', 'Count', 'Gender', 'Age', 'Under 30', 'Senior Citizen',
       'Married', 'Dependents', 'Number of Dependents'],
      dtype='object')
----------------------------
############################
Telco_customer_churn_demographics.xlsx
############################
----------------------------
number of features (columns) = 8
number of observations (rows) = 7043
----------------------------
object    6
int64     2
dtype: int64
----------------------------

,Customer ID,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
count,7043,7043,7043.000000,7043,7043,7043,7043,7043.000000
unique,7043,2,NaN,2,2,2,2,NaN
top,8779-QRDMV,Male,NaN,No,No,No,No,NaN
freq,1,3555,NaN,5642,5901,3641,5416,NaN
mean,NaN,NaN,46.509726,NaN,NaN,NaN,NaN,0.468692
std,NaN,NaN,16.750352,NaN,NaN,NaN,NaN,0.962802
min,NaN,NaN,19.000000,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,32.000000,NaN,NaN,NaN,NaN,0.000000
50%,NaN,NaN,46.000000,NaN,NaN,NaN,NaN,0.000000
75%,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,0.000000
max,NaN,NaN,80.000000,NaN,NaN,NaN,NaN,9.000000

In [65]:
df_name = 'Telco_customer_churn_services.xlsx'
quick_table_details(df_name, df_dict[df_name])
#Drop fields not useful to the predictive model
df_dict[df_name] = df_dict[df_name].drop(['Count', 'Quarter'], axis=1)
quick_table_details(df_name, df_dict[df_name],2)
df_dict[df_name].describe(include='all')

############################
Telco_customer_churn_services.xlsx
############################
----------------------------
number of features (columns) = 30
number of observations (rows) = 7043
----------------------------
object     19
float64     6
int64       5
dtype: int64
----------------------------
Index(['Customer ID', 'Count', 'Quarter', 'Referred a Friend',
       'Number of Referrals', 'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue'],
      dtype='object')
----------------------------
############################
Telco_customer_churn_services.xlsx
############################
----------------------------
number of features (columns) = 28
number of observations (rows) = 7043
----------------------------
object     18
float64     6
int64       4
dtype: int64
----------------------------

,Customer ID,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,Internet Service,Internet Type,...,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue
count,7043,7043,7043.000000,7043.000000,7043,7043,7043.000000,7043,7043,7043,...,7043,7043,7043,7043,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
unique,7043,2,NaN,NaN,6,2,NaN,2,2,4,...,2,3,2,3,NaN,NaN,NaN,NaN,NaN,NaN
top,8779-QRDMV,No,NaN,NaN,None,Yes,NaN,No,Yes,Fiber Optic,...,Yes,Month-to-Month,Yes,Bank Withdrawal,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,3821,NaN,NaN,3877,6361,NaN,4072,5517,3035,...,4745,3610,4171,3909,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,1.951867,32.386767,NaN,NaN,22.958954,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,64.761692,2280.381264,1.962182,6.860713,749.099262,3034.379056
std,NaN,NaN,3.001199,24.542061,NaN,NaN,15.448113,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,30.090047,2266.220462,7.902614,25.104978,846.660055,2865.204542
min,NaN,NaN,0.000000,1.000000,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18.250000,18.800000,0.000000,0.000000,0.000000,21.360000
25%,NaN,NaN,0.000000,9.000000,NaN,NaN,9.210000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,35.500000,400.150000,0.000000,0.000000,70.545000,605.610000
50%,NaN,NaN,0.000000,29.000000,NaN,NaN,22.890000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,70.350000,1394.550000,0.000000,0.000000,401.440000,2108.640000
75%,NaN,NaN,3.000000,55.000000,NaN,NaN,36.395000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,89.850000,3786.600000,0.000000,0.000000,1191.100000,4801.145000
max,NaN,NaN,11.000000,72.000000,NaN,NaN,49.990000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,118.750000,8684.800000,49.790000,150.000000,3564.720000,11979.340000

In [66]:
df_name = 'Telco_customer_churn_status.xlsx'
quick_table_details(df_name, df_dict[df_name])
#Drop fields not useful to the predictive model
df_dict[df_name] = df_dict[df_name].drop(['Count', 'Quarter'], axis=1)
# Display a summary of table statistics
quick_table_details(df_name, df_dict[df_name],2)
df_dict[df_name].describe(include='all')

############################
Telco_customer_churn_status.xlsx
############################
----------------------------
number of features (columns) = 11
number of observations (rows) = 7043
----------------------------
object    6
int64     5
dtype: int64
----------------------------
Index(['Customer ID', 'Count', 'Quarter', 'Satisfaction Score',
       'Customer Status', 'Churn Label', 'Churn Value', 'Churn Score', 'CLTV',
       'Churn Category', 'Churn Reason'],
      dtype='object')
----------------------------
############################
Telco_customer_churn_status.xlsx
############################
----------------------------
number of features (columns) = 9
number of observations (rows) = 7043
----------------------------
object    5
int64     4
dtype: int64
----------------------------

,Customer ID,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
count,7043,7043.000000,7043,7043,7043.000000,7043.000000,7043.000000,1869,1869
unique,7043,NaN,3,2,NaN,NaN,NaN,5,20
top,8779-QRDMV,NaN,Stayed,No,NaN,NaN,NaN,Competitor,Competitor had better devices
freq,1,NaN,4720,5174,NaN,NaN,NaN,841,313
mean,NaN,3.244924,NaN,NaN,0.265370,58.505040,4400.295755,NaN,NaN
std,NaN,1.201657,NaN,NaN,0.441561,21.170031,1183.057152,NaN,NaN
min,NaN,1.000000,NaN,NaN,0.000000,5.000000,2003.000000,NaN,NaN
25%,NaN,3.000000,NaN,NaN,0.000000,40.000000,3469.000000,NaN,NaN
50%,NaN,3.000000,NaN,NaN,0.000000,61.000000,4527.000000,NaN,NaN
75%,NaN,4.000000,NaN,NaN,1.000000,75.500000,5380.500000,NaN,NaN
max,NaN,5.000000,NaN,NaN,1.000000,96.000000,6500.000000,NaN,NaN

In [67]:
#df_name = 'Telco_customer_churn.xlsx'
#quick_table_details(df_name, df_dict[df_name])
#Drop fields not useful to the predictive model
#df_dict[df_name] = df_dict[df_name].drop(['Count', 'Lat Long', 'Latitude', 'Longitude'], axis=1)
#Drop fields duplicated in other tables
#df_dict[df_name] = df_dict[df_name].drop(['Tenure in Months'], axis=1)
#quick_table_details(df_name, df_dict[df_name],2)
#df_dict[df_name].describe(include='all')

### Join and Drop Keys

In [76]:
df_s = pd.DataFrame(df_dict['Telco_customer_churn_demographics.xlsx'])
df_s = df_s.merge(df_dict['Telco_customer_churn_location.xlsx'], how='left', on='Customer ID')
df_s = df_s.merge(df_dict['Telco_customer_churn_population.xlsx'], how='left', on='Zip Code')
df_s = df_s.merge(df_dict['Telco_customer_churn_services.xlsx'], how='left', on='Customer ID')
df_s = df_s.merge(df_dict['Telco_customer_churn_status.xlsx'], how='left', on='Customer ID')
df_s

,Customer ID,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Country,State,...,Total Long Distance Charges,Total Revenue,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,Male,78,No,Yes,No,No,0,United States,California,...,0.00,59.65,3,Churned,Yes,1,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,Female,74,No,Yes,Yes,Yes,1,United States,California,...,390.80,1024.10,3,Churned,Yes,1,69,5302,Competitor,Competitor made better offer
2,1658-BYGOY,Male,71,No,Yes,No,Yes,3,United States,California,...,203.94,1910.88,2,Churned,Yes,1,81,3179,Competitor,Competitor made better offer
3,4598-XLKNJ,Female,78,No,Yes,Yes,Yes,1,United States,California,...,494.00,2995.07,2,Churned,Yes,1,88,5337,Dissatisfaction,Limited range of services
4,4846-WHAFZ,Female,80,No,Yes,Yes,Yes,1,United States,California,...,234.21,3102.36,2,Churned,Yes,1,67,2793,Price,Extra data charges
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,Female,30,No,No,No,No,0,United States,California,...,1639.44,3039.53,5,Stayed,No,0,45,5306,NaN,NaN
7039,6840-RESVB,Male,38,No,No,Yes,Yes,2,United States,California,...,865.20,2807.47,3,Stayed,No,0,59,2140,NaN,NaN
7040,2234-XADUH,Female,30,No,No,Yes,Yes,2,United States,California,...,2135.52,9453.04,4,Stayed,No,0,71,5560,NaN,NaN
7041,4801-JZAZL,Female,32,No,No,Yes,Yes,2,United States,California,...,0.00,319.21,4,Stayed,No,0,59,2793,NaN,NaN
7042,3186-AJIEK,Male,44,No,No,No,No,0,United States,California,...,2043.36,8887.86,4,Stayed,No,0,38,5097,NaN,NaN

Warning: Total number of columns (48) exceeds max_columns (20) limiting to first (20) columns.

### Final Descriptive Statistics

In [77]:
quick_table_details('df_s', df_s)
df_s.describe(include='all')

############################
df_s
############################
----------------------------
number of features (columns) = 48
number of observations (rows) = 7043
----------------------------
object     30
int64      12
float64     6
dtype: int64
----------------------------
Index(['Customer ID', 'Gender', 'Age', 'Under 30', 'Senior Citizen', 'Married',
       'Dependents', 'Number of Dependents', 'Country', 'State', 'City',
       'Zip Code', 'Population', 'Referred a Friend', 'Number of Referrals',
       'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue', 'Satisfaction Score', 'Customer Status', 'Churn Label',
       'Churn Value', 'Churn Score', 'CLTV', 'Churn Category', 'Churn Reason'],
      dtype='object')
----------------------------

,Customer ID,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Country,State,...,Total Long Distance Charges,Total Revenue,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
count,7043,7043,7043.000000,7043,7043,7043,7043,7043.000000,7043,7043,...,7043.000000,7043.000000,7043.000000,7043,7043,7043.000000,7043.000000,7043.000000,1869,1869
unique,7043,2,NaN,2,2,2,2,NaN,1,1,...,NaN,NaN,NaN,3,2,NaN,NaN,NaN,5,20
top,8779-QRDMV,Male,NaN,No,No,No,No,NaN,United States,California,...,NaN,NaN,NaN,Stayed,No,NaN,NaN,NaN,Competitor,Competitor had better devices
freq,1,3555,NaN,5642,5901,3641,5416,NaN,7043,7043,...,NaN,NaN,NaN,4720,5174,NaN,NaN,NaN,841,313
mean,NaN,NaN,46.509726,NaN,NaN,NaN,NaN,0.468692,NaN,NaN,...,749.099262,3034.379056,3.244924,NaN,NaN,0.265370,58.505040,4400.295755,NaN,NaN
std,NaN,NaN,16.750352,NaN,NaN,NaN,NaN,0.962802,NaN,NaN,...,846.660055,2865.204542,1.201657,NaN,NaN,0.441561,21.170031,1183.057152,NaN,NaN
min,NaN,NaN,19.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,...,0.000000,21.360000,1.000000,NaN,NaN,0.000000,5.000000,2003.000000,NaN,NaN
25%,NaN,NaN,32.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,...,70.545000,605.610000,3.000000,NaN,NaN,0.000000,40.000000,3469.000000,NaN,NaN
50%,NaN,NaN,46.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,...,401.440000,2108.640000,3.000000,NaN,NaN,0.000000,61.000000,4527.000000,NaN,NaN
75%,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,...,1191.100000,4801.145000,4.000000,NaN,NaN,1.000000,75.500000,5380.500000,NaN,NaN
max,NaN,NaN,80.000000,NaN,NaN,NaN,NaN,9.000000,NaN,NaN,...,3564.720000,11979.340000,5.000000,NaN,NaN,1.000000,96.000000,6500.000000,NaN,NaN

# Data Clensing

In [78]:
df = df_s
a = [np.nan, None, [], {}, 'NaN', 'Null','NULL','None','NA','?','-', '.','', ' ', '   ']
for c in df.columns:
    string_null = np.array([x in a[2:] for x in df[c]])
    print(c, df[c].isnull().sum(), string_null.sum())

Customer ID 0 0
Gender 0 0
Age 0 0
Under 30 0 0
Senior Citizen 0 0
Married 0 0
Dependents 0 0
Number of Dependents 0 0
Country 0 0
State 0 0
City 0 0
Zip Code 0 0
Population 0 0
Referred a Friend 0 0
Number of Referrals 0 0
Tenure in Months 0 0
Offer 0 3877
Phone Service 0 0
Avg Monthly Long Distance Charges 0 0
Multiple Lines 0 0
Internet Service 0 0
Internet Type 0 1526
Avg Monthly GB Download 0 0
Online Security 0 0
Online Backup 0 0
Device Protection Plan 0 0
Premium Tech Support 0 0
Streaming TV 0 0
Streaming Movies 0 0
Streaming Music 0 0
Unlimited Data 0 0
Contract 0 0
Paperless Billing 0 0
Payment Method 0 0
Monthly Charge 0 0
Total Charges 0 0
Total Refunds 0 0
Total Extra Data Charges 0 0
Total Long Distance Charges 0 0
Total Revenue 0 0
Satisfaction Score 0 0
Customer Status 0 0
Churn Label 0 0
Churn Value 0 0
Churn Score 0 0
CLTV 0 0
Churn Category 5174 0
Churn Reason 5174 0

In [16]:
#!pip install ydata-profiling

#from ydata_profiling import ProfileReport

#profile = ProfileReport(df_dict['Telco_customer_churn.xlsx'], title="Profiling Telco_customer_churn")

In [17]:
#profile.to_widgets()

In [18]:
df_dict['Telco_customer_churn_services.xlsx']

,Customer ID,Count,Quarter,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,...,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue
0,8779-QRDMV,1,Q3,No,0,1,None,No,0.00,No,...,No,Month-to-Month,Yes,Bank Withdrawal,39.65,39.65,0.00,20,0.00,59.65
1,7495-OOKFY,1,Q3,Yes,1,8,Offer E,Yes,48.85,Yes,...,Yes,Month-to-Month,Yes,Credit Card,80.65,633.30,0.00,0,390.80,1024.10
2,1658-BYGOY,1,Q3,No,0,18,Offer D,Yes,11.33,Yes,...,Yes,Month-to-Month,Yes,Bank Withdrawal,95.45,1752.55,45.61,0,203.94,1910.88
3,4598-XLKNJ,1,Q3,Yes,1,25,Offer C,Yes,19.76,No,...,Yes,Month-to-Month,Yes,Bank Withdrawal,98.50,2514.50,13.43,0,494.00,2995.07
4,4846-WHAFZ,1,Q3,Yes,1,37,Offer C,Yes,6.33,Yes,...,Yes,Month-to-Month,Yes,Bank Withdrawal,76.50,2868.15,0.00,0,234.21,3102.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,Q3,No,0,72,None,Yes,22.77,No,...,No,Two Year,Yes,Bank Withdrawal,21.15,1419.40,19.31,0,1639.44,3039.53
7039,6840-RESVB,1,Q3,Yes,1,24,Offer C,Yes,36.05,Yes,...,Yes,One Year,Yes,Mailed Check,84.80,1990.50,48.23,0,865.20,2807.47
7040,2234-XADUH,1,Q3,Yes,4,72,None,Yes,29.66,Yes,...,Yes,One Year,Yes,Credit Card,103.20,7362.90,45.38,0,2135.52,9453.04
7041,4801-JZAZL,1,Q3,Yes,1,11,None,No,0.00,No,...,Yes,Month-to-Month,Yes,Bank Withdrawal,29.60,346.45,27.24,0,0.00,319.21
7042,3186-AJIEK,1,Q3,No,0,66,None,Yes,30.96,No,...,Yes,Two Year,Yes,Bank Withdrawal,105.65,6844.50,0.00,0,2043.36,8887.86

In [19]:
df_dict['Telco_customer_churn_status.xlsx']

,Customer ID,Count,Quarter,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,1,Q3,3,Churned,Yes,1,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,1,Q3,3,Churned,Yes,1,69,5302,Competitor,Competitor made better offer
2,1658-BYGOY,1,Q3,2,Churned,Yes,1,81,3179,Competitor,Competitor made better offer
3,4598-XLKNJ,1,Q3,2,Churned,Yes,1,88,5337,Dissatisfaction,Limited range of services
4,4846-WHAFZ,1,Q3,2,Churned,Yes,1,67,2793,Price,Extra data charges
...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,Q3,5,Stayed,No,0,45,5306,NaN,NaN
7039,6840-RESVB,1,Q3,3,Stayed,No,0,59,2140,NaN,NaN
7040,2234-XADUH,1,Q3,4,Stayed,No,0,71,5560,NaN,NaN
7041,4801-JZAZL,1,Q3,4,Stayed,No,0,59,2793,NaN,NaN
7042,3186-AJIEK,1,Q3,4,Stayed,No,0,38,5097,NaN,NaN

In [20]:
df_dict['Telco_customer_churn_location.xlsx']

,Customer ID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude
0,8779-QRDMV,1,United States,California,Los Angeles,90022,"34.02381, -118.156582",34.023810,-118.156582
1,7495-OOKFY,1,United States,California,Los Angeles,90063,"34.044271, -118.185237",34.044271,-118.185237
2,1658-BYGOY,1,United States,California,Los Angeles,90065,"34.108833, -118.229715",34.108833,-118.229715
3,4598-XLKNJ,1,United States,California,Inglewood,90303,"33.936291, -118.332639",33.936291,-118.332639
4,4846-WHAFZ,1,United States,California,Whittier,90602,"33.972119, -118.020188",33.972119,-118.020188
...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,United States,California,Landers,92285,"34.341737, -116.539416",34.341737,-116.539416
7039,6840-RESVB,1,United States,California,Adelanto,92301,"34.667815, -117.536183",34.667815,-117.536183
7040,2234-XADUH,1,United States,California,Amboy,92304,"34.559882, -115.637164",34.559882,-115.637164
7041,4801-JZAZL,1,United States,California,Angelus Oaks,92305,"34.1678, -116.86433",34.167800,-116.864330
7042,3186-AJIEK,1,United States,California,Apple Valley,92308,"34.424926, -117.184503",34.424926,-117.184503

In [21]:
df_dict['Telco_customer_churn_population.xlsx']

        ID  Zip Code  Population
0        1     90001       54492
1        2     90002       44586
2        3     90003       58198
3        4     90004       67852
4        5     90005       43019
...    ...       ...         ...
1666  1667     96145        4002
1667  1668     96146         942
1668  1669     96148         678
1669  1670     96150       33038
1670  1671     96161       15783

[1671 rows x 3 columns]

In [22]:
df_dict['Telco_customer_churn_demographics.xlsx']

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
0,8779-QRDMV,1,Male,78,No,Yes,No,No,0
1,7495-OOKFY,1,Female,74,No,Yes,Yes,Yes,1
2,1658-BYGOY,1,Male,71,No,Yes,No,Yes,3
3,4598-XLKNJ,1,Female,78,No,Yes,Yes,Yes,1
4,4846-WHAFZ,1,Female,80,No,Yes,Yes,Yes,1
...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,Female,30,No,No,No,No,0
7039,6840-RESVB,1,Male,38,No,No,Yes,Yes,2
7040,2234-XADUH,1,Female,30,No,No,Yes,Yes,2
7041,4801-JZAZL,1,Female,32,No,No,Yes,Yes,2
7042,3186-AJIEK,1,Male,44,No,No,No,No,0