<a href="https://colab.research.google.com/github/TOM-BOHN/MsDS-customer-churn-prediction/blob/main/Data_Clensing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data

## Import Required Libraries

In [1]:
import os
import pandas as pd
import numpy as np

## Connect to Kaggle API and Import Dataset

In [2]:
#Prepare to Connect to Kaggle API with Token

#Create a Kaggle API Token
#- Log into your kaggle account, navigate to theAPI section
#- Create a New API Token, triggering the downloaf of the kaggle.json file
#- Go to this Google Colab Notebook step and proceed

#Mount the Google Drive
from google.colab import drive
drive.mount("/content/gdrive")

#from google.colab import files
#files.upload()
#prompt open to upload kaggle.json

source_filepath = '/content/gdrive/MyDrive/Colab_files/kaggle.json'
destination_filepath = '/content'
!cp {source_filepath} {destination_filepath}

#Verify the kaggle.json file is present
!ls -lha kaggle.json

#Install kaggle API
!pip install -q kaggle

#Move kaggle.json file to the appropriate directory and set permissions
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 /root/.kaggle/kaggle.json

#check the directory before downloading the datasets
!pwd

#Sanity Check for Connection
!kaggle datasets list

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
-rw------- 1 root root 66 Aug  7 23:08 kaggle.json
A
B
C
/content
ref                                                       title                                             size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------  -----------------------------------------------  -----  -------------------  -------------  ---------  ---------------
nelgiriyewithana/countries-of-the-world-2023              Global Country Information Dataset 2023           23KB  2023-07-08 20:37:33           8736        342  1.0
juhibhojani/house-price                                   House Price                                        7MB  2023-08-02 16:51:21            923         35  0.9411765
arnavsmayan/netflix-userbase-dataset                      Netflix Userbase Dataset                          25KB  2023-07-04 07:38:41          10325        184  1.0
alphiree/cardiovascular-diseases-risk-prediction-dataset  Cardiovascular Diseases Risk Prediction Dataset    5MB  2023-07-03 12:12:19           8002        282  1.0
nelgiriyewithana/global-youtube-statistics-2023           Global YouTube Statistics 2023                    60KB  2023-07-28 15:36:38           1497         72  1.0
abhijitdahatonde/zomato-restaurants-dataset               Zomato Restaurants Dataset                       181KB  2023-07-20 13:11:17            856         30  1.0
abhijitdahatonde/fifa-world-cup-all-dataset               FIFA World Cup All Dataset                       192KB  2023-07-31 02:22:58            474         28  1.0
kapturovalexander/bank-credit-scoring                     Bank credit scoring                               65KB  2023-08-07 06:19:32            774         34  1.0
joebeachcapital/ransomware-attacks                        Ransomware Attacks                                34KB  2023-08-03 00:41:08            299         25  1.0
pavankrishnanarne/global-stock-market-2008-present        Global Stock Market (2008-2023)                    1MB  2023-07-30 06:17:44            527         23  0.9411765
alirezajavid1999/google-stock-2010-2023                   Google Stock (2010-2023)                          76KB  2023-07-29 23:57:16            661         29  1.0
sudheerp2147234/salary-dataset-based-on-country-and-race  Salary dataset based on country and race          49KB  2023-07-06 09:10:21           2396         51  1.0
abhijitdahatonde/real-world-smartphones-dataset           Real World Smartphone's Dataset                   17KB  2023-08-02 07:03:01            493         25  1.0
joebeachcapital/worlds-biggest-data-breaches-and-hacks    World's Biggest Data Breaches & Hacks             49KB  2023-08-01 04:31:23            403         34  1.0
joebeachcapital/top-10000-spotify-songs-1960-now          Top 10000 Songs on Spotify 1960-Now                2MB  2023-07-26 00:54:14           1277         54  1.0
mexwell/world-airports                                    ‚úàÔ∏è World Airports                                  5MB  2023-07-25 08:37:38            910         27  1.0
harishkumardatalab/housing-price-prediction               Housing Price Prediction                           5KB  2023-07-07 04:34:24           3285         68  1.0
nathaniellybrand/chicago-car-crash-dataset                Chicago Car Crash Dataset                        116MB  2023-07-31 19:58:33            357         25  1.0
bhanupratapbiswas/olympic-data                            Olympic Data ü•á ‚õ≥ü•ÖüèãÔ∏è‚Äç‚ôÄÔ∏èüö¥‚Äç‚ôÇÔ∏è                         1MB  2023-07-20 09:30:19           1812         53  1.0
khushipitroda/top-250-indian-movies-imdb                  Top 250 Indian movies IMDB                        24KB  2023-08-02 04:37:17            366         30  1.0

In [4]:
#Import the Kaggle Data Source

#Define the source of the dataset
kaggle_owner_name = 'ylchang'
kaggle_dataset_name = 'telco-customer-churn-1113'
kaggle_dataset = kaggle_owner_name + '/' + kaggle_dataset_name
print(kaggle_dataset)

#Define the destination of the dataset
dest_path = '/content'
dest_folder = ''
dest_dataset = dest_path + dest_folder
print(dest_dataset)

#Download the kaggle dataset
!kaggle datasets download -d {kaggle_dataset} -p {dest_dataset}

#Unzip the files
zip_file_name = kaggle_dataset_name + '.zip'
!mkdir {kaggle_dataset_name}
print(zip_file_name)
!unzip -o {zip_file_name} -d {kaggle_dataset_name}

ylchang/telco-customer-churn-1113
/content
telco-customer-churn-1113.zip: Skipping, found more recently modified local copy (use --force to force download)
mkdir: cannot create directory ‚Äòtelco-customer-churn-1113‚Äô: File exists
telco-customer-churn-1113.zip
Archive:  telco-customer-churn-1113.zip
  inflating: telco-customer-churn-1113/Telco_customer_churn.xlsx
  inflating: telco-customer-churn-1113/Telco_customer_churn_demographics.xlsx
  inflating: telco-customer-churn-1113/Telco_customer_churn_location.xlsx
  inflating: telco-customer-churn-1113/Telco_customer_churn_population.xlsx
  inflating: telco-customer-churn-1113/Telco_customer_churn_services.xlsx
  inflating: telco-customer-churn-1113/Telco_customer_churn_status.xlsx

Reference for Connecting to Kaggle

*   Steps to download Kaggle datasets in Google Colab: https://www.kaggle.com/discussions/general/156610
*   Easy way to use Kaggle datasets in Google Colab: https://www.kaggle.com/discussions/general/51898
*   Easiest way to download kaggle data in Google Colab: https://www.kaggle.com/discussions/general/74235

In [5]:
import os

#Get the list of files imported
directory_path = dest_dataset + '/' + kaggle_dataset_name
directory_files = os.listdir(directory_path)
print(directory_files)

['Telco_customer_churn.xlsx', 'Telco_customer_churn_services.xlsx', 'Telco_customer_churn_status.xlsx', 'Telco_customer_churn_location.xlsx', 'Telco_customer_churn_population.xlsx', 'Telco_customer_churn_demographics.xlsx']

In [6]:
# Create a dictonary to store the datafames imported
df_dict = {}

for file in directory_files:
  dataset_file = dest_dataset + '/' + kaggle_dataset_name + '/' + file
  df_dict[file] = pd.read_excel(dataset_file)
  print("key: ", file)
  #print(df_dict[file], "\n")

key:  Telco_customer_churn.xlsx
key:  Telco_customer_churn_services.xlsx
key:  Telco_customer_churn_status.xlsx
key:  Telco_customer_churn_location.xlsx
key:  Telco_customer_churn_population.xlsx
key:  Telco_customer_churn_demographics.xlsx

In [23]:
for df_name, df in df_dict.items():
  print('----------------------------')
  print(df_name)
  print('----------------------------')
  num_rows = df.shape[0]
  num_cols = df.shape[1]
  print('number of features (columns) = ' + str(num_cols))
  print('number of observations (rows) = ' + str(num_rows))
  print(df.dtypes.value_counts())
  print(df.columns)
  #print(df.count)
  #print(df.max)
  #print(df.min)
  #print(df.shape)
  #print(df.describe)

----------------------------
Telco_customer_churn.xlsx
----------------------------
number of features (columns) = 33
number of observations (rows) = 7043
object     24
int64       6
float64     3
dtype: int64
Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Score', 'CLTV', 'Churn Reason'],
      dtype='object')
----------------------------
Telco_customer_churn_services.xlsx
----------------------------
number of features (columns) = 30
number of observations (rows) = 7043
object     19
float64     6
int64       5
dtype: int64
Index(['Customer ID', 'Count', 'Quarter', 'Referred a Friend',
       'Number of Referrals', 'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue'],
      dtype='object')
----------------------------
Telco_customer_churn_status.xlsx
----------------------------
number of features (columns) = 11
number of observations (rows) = 7043
object    6
int64     5
dtype: int64
Index(['Customer ID', 'Count', 'Quarter', 'Satisfaction Score',
       'Customer Status', 'Churn Label', 'Churn Value', 'Churn Score', 'CLTV',
       'Churn Category', 'Churn Reason'],
      dtype='object')
----------------------------
Telco_customer_churn_location.xlsx
----------------------------
number of features (columns) = 9
number of observations (rows) = 7043
object     5
int64      2
float64    2
dtype: int64
Index(['Customer ID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude'],
      dtype='object')
----------------------------
Telco_customer_churn_population.xlsx
----------------------------
number of features (columns) = 3
number of observations (rows) = 1671
int64    3
dtype: int64
Index(['ID', 'Zip Code', 'Population'], dtype='object')
----------------------------
Telco_customer_churn_demographics.xlsx
----------------------------
number of features (columns) = 9
number of observations (rows) = 7043
object    6
int64     3
dtype: int64
Index(['Customer ID', 'Count', 'Gender', 'Age', 'Under 30', 'Senior Citizen',
       'Married', 'Dependents', 'Number of Dependents'],
      dtype='object')

# Data Clensing

In [7]:
df_dict['Telco_customer_churn.xlsx']

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,United States,California,Landers,92285,"34.341737, -116.539416",34.341737,-116.539416,Female,...,Two year,Yes,Bank transfer (automatic),21.15,1419.4,No,0,45,5306,NaN
7039,6840-RESVB,1,United States,California,Adelanto,92301,"34.667815, -117.536183",34.667815,-117.536183,Male,...,One year,Yes,Mailed check,84.80,1990.5,No,0,59,2140,NaN
7040,2234-XADUH,1,United States,California,Amboy,92304,"34.559882, -115.637164",34.559882,-115.637164,Female,...,One year,Yes,Credit card (automatic),103.20,7362.9,No,0,71,5560,NaN
7041,4801-JZAZL,1,United States,California,Angelus Oaks,92305,"34.1678, -116.86433",34.167800,-116.864330,Female,...,Month-to-month,Yes,Electronic check,29.60,346.45,No,0,59,2793,NaN
7042,3186-AJIEK,1,United States,California,Apple Valley,92308,"34.424926, -117.184503",34.424926,-117.184503,Male,...,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No,0,38,5097,NaN

In [8]:
df_dict['Telco_customer_churn.xlsx'].describe()

,Count,Zip Code,Latitude,Longitude,Tenure Months,Monthly Charges,Churn Value,Churn Score,CLTV
count,7043.0,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,1.0,93521.964646,36.282441,-119.798880,32.371149,64.761692,0.265370,58.699418,4400.295755
std,0.0,1865.794555,2.455723,2.157889,24.559481,30.090047,0.441561,21.525131,1183.057152
min,1.0,90001.000000,32.555828,-124.301372,0.000000,18.250000,0.000000,5.000000,2003.000000
25%,1.0,92102.000000,34.030915,-121.815412,9.000000,35.500000,0.000000,40.000000,3469.000000
50%,1.0,93552.000000,36.391777,-119.730885,29.000000,70.350000,0.000000,61.000000,4527.000000
75%,1.0,95351.000000,38.224869,-118.043237,55.000000,89.850000,1.000000,75.000000,5380.500000
max,1.0,96161.000000,41.962127,-114.192901,72.000000,118.750000,1.000000,100.000000,6500.000000

In [9]:
df = df_dict['Telco_customer_churn.xlsx']
a = [np.nan, None, [], {}, 'NaN', 'Null','NULL','None','NA','?','-', '.','', ' ', '   ']
for c in df.columns:
    string_null = np.array([x in a[2:] for x in df[c]])
    print(c, df[c].isnull().sum(), string_null.sum())

CustomerID 0 0
Count 0 0
Country 0 0
State 0 0
City 0 0
Zip Code 0 0
Lat Long 0 0
Latitude 0 0
Longitude 0 0
Gender 0 0
Senior Citizen 0 0
Partner 0 0
Dependents 0 0
Tenure Months 0 0
Phone Service 0 0
Multiple Lines 0 0
Internet Service 0 0
Online Security 0 0
Online Backup 0 0
Device Protection 0 0
Tech Support 0 0
Streaming TV 0 0
Streaming Movies 0 0
Contract 0 0
Paperless Billing 0 0
Payment Method 0 0
Monthly Charges 0 0
Total Charges 0 11
Churn Label 0 0
Churn Value 0 0
Churn Score 0 0
CLTV 0 0
Churn Reason 5174 0

In [47]:
#!pip install ydata-profiling

#from ydata_profiling import ProfileReport

#profile = ProfileReport(df_dict['Telco_customer_churn.xlsx'], title="Profiling Telco_customer_churn")

In [1]:
#profile.to_widgets()

In [29]:
df_dict['Telco_customer_churn_services.xlsx']

,Customer ID,Count,Quarter,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,...,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue
0,8779-QRDMV,1,Q3,No,0,1,None,No,0.00,No,...,No,Month-to-Month,Yes,Bank Withdrawal,39.65,39.65,0.00,20,0.00,59.65
1,7495-OOKFY,1,Q3,Yes,1,8,Offer E,Yes,48.85,Yes,...,Yes,Month-to-Month,Yes,Credit Card,80.65,633.30,0.00,0,390.80,1024.10
2,1658-BYGOY,1,Q3,No,0,18,Offer D,Yes,11.33,Yes,...,Yes,Month-to-Month,Yes,Bank Withdrawal,95.45,1752.55,45.61,0,203.94,1910.88
3,4598-XLKNJ,1,Q3,Yes,1,25,Offer C,Yes,19.76,No,...,Yes,Month-to-Month,Yes,Bank Withdrawal,98.50,2514.50,13.43,0,494.00,2995.07
4,4846-WHAFZ,1,Q3,Yes,1,37,Offer C,Yes,6.33,Yes,...,Yes,Month-to-Month,Yes,Bank Withdrawal,76.50,2868.15,0.00,0,234.21,3102.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,Q3,No,0,72,None,Yes,22.77,No,...,No,Two Year,Yes,Bank Withdrawal,21.15,1419.40,19.31,0,1639.44,3039.53
7039,6840-RESVB,1,Q3,Yes,1,24,Offer C,Yes,36.05,Yes,...,Yes,One Year,Yes,Mailed Check,84.80,1990.50,48.23,0,865.20,2807.47
7040,2234-XADUH,1,Q3,Yes,4,72,None,Yes,29.66,Yes,...,Yes,One Year,Yes,Credit Card,103.20,7362.90,45.38,0,2135.52,9453.04
7041,4801-JZAZL,1,Q3,Yes,1,11,None,No,0.00,No,...,Yes,Month-to-Month,Yes,Bank Withdrawal,29.60,346.45,27.24,0,0.00,319.21
7042,3186-AJIEK,1,Q3,No,0,66,None,Yes,30.96,No,...,Yes,Two Year,Yes,Bank Withdrawal,105.65,6844.50,0.00,0,2043.36,8887.86

In [30]:
df_dict['Telco_customer_churn_status.xlsx']

,Customer ID,Count,Quarter,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,1,Q3,3,Churned,Yes,1,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,1,Q3,3,Churned,Yes,1,69,5302,Competitor,Competitor made better offer
2,1658-BYGOY,1,Q3,2,Churned,Yes,1,81,3179,Competitor,Competitor made better offer
3,4598-XLKNJ,1,Q3,2,Churned,Yes,1,88,5337,Dissatisfaction,Limited range of services
4,4846-WHAFZ,1,Q3,2,Churned,Yes,1,67,2793,Price,Extra data charges
...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,Q3,5,Stayed,No,0,45,5306,NaN,NaN
7039,6840-RESVB,1,Q3,3,Stayed,No,0,59,2140,NaN,NaN
7040,2234-XADUH,1,Q3,4,Stayed,No,0,71,5560,NaN,NaN
7041,4801-JZAZL,1,Q3,4,Stayed,No,0,59,2793,NaN,NaN
7042,3186-AJIEK,1,Q3,4,Stayed,No,0,38,5097,NaN,NaN

In [31]:
df_dict['Telco_customer_churn_location.xlsx']

,Customer ID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude
0,8779-QRDMV,1,United States,California,Los Angeles,90022,"34.02381, -118.156582",34.023810,-118.156582
1,7495-OOKFY,1,United States,California,Los Angeles,90063,"34.044271, -118.185237",34.044271,-118.185237
2,1658-BYGOY,1,United States,California,Los Angeles,90065,"34.108833, -118.229715",34.108833,-118.229715
3,4598-XLKNJ,1,United States,California,Inglewood,90303,"33.936291, -118.332639",33.936291,-118.332639
4,4846-WHAFZ,1,United States,California,Whittier,90602,"33.972119, -118.020188",33.972119,-118.020188
...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,United States,California,Landers,92285,"34.341737, -116.539416",34.341737,-116.539416
7039,6840-RESVB,1,United States,California,Adelanto,92301,"34.667815, -117.536183",34.667815,-117.536183
7040,2234-XADUH,1,United States,California,Amboy,92304,"34.559882, -115.637164",34.559882,-115.637164
7041,4801-JZAZL,1,United States,California,Angelus Oaks,92305,"34.1678, -116.86433",34.167800,-116.864330
7042,3186-AJIEK,1,United States,California,Apple Valley,92308,"34.424926, -117.184503",34.424926,-117.184503

In [32]:
df_dict['Telco_customer_churn_population.xlsx']

        ID  Zip Code  Population
0        1     90001       54492
1        2     90002       44586
2        3     90003       58198
3        4     90004       67852
4        5     90005       43019
...    ...       ...         ...
1666  1667     96145        4002
1667  1668     96146         942
1668  1669     96148         678
1669  1670     96150       33038
1670  1671     96161       15783

[1671 rows x 3 columns]

In [33]:
df_dict['Telco_customer_churn_demographics.xlsx']

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
0,8779-QRDMV,1,Male,78,No,Yes,No,No,0
1,7495-OOKFY,1,Female,74,No,Yes,Yes,Yes,1
2,1658-BYGOY,1,Male,71,No,Yes,No,Yes,3
3,4598-XLKNJ,1,Female,78,No,Yes,Yes,Yes,1
4,4846-WHAFZ,1,Female,80,No,Yes,Yes,Yes,1
...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,Female,30,No,No,No,No,0
7039,6840-RESVB,1,Male,38,No,No,Yes,Yes,2
7040,2234-XADUH,1,Female,30,No,No,Yes,Yes,2
7041,4801-JZAZL,1,Female,32,No,No,Yes,Yes,2
7042,3186-AJIEK,1,Male,44,No,No,No,No,0